<a href="https://colab.research.google.com/github/parthbhide/Support-Genie-Python-Developer-Intern/blob/master/Generate%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Perameters and Definations**

*   start_time : Time at which issue was opened
*   answer_time : Time at which issue was allocated to agent
*   resolved_time : Time at which issue was resolved
*   status : Issue is resolved or abandoned ( 1 if resolved, 0 otherwise )
*   delay : answer_time - start_time ie. time elapsed to allocate an issue to agent

In [2]:
import datetime
import random

In [3]:
base = datetime.datetime.today()
start_time = [(base - datetime.timedelta(days=x)).date() for x in range(1000)]

#Here delay is taken as random number, in real implementation it can be calculated as (answer_time - start_time)
delay = [random.randint(0,10) for x in range(1000)]
answer_time = [ s + datetime.timedelta(d) for s,d in zip(start_time,delay)]
status = [random.randint(0,1) for x in range(1000)]

#Resolve_delay here is taken as random number to genrate resolved_time, it is not involved in our dataset
resolve_delay = [ random.randint(0,3) for x in range(1000)]
resolved_time = [ a + datetime.timedelta(d) for a,d in zip(answer_time,resolve_delay)]

In [6]:
import pandas as pd

df = pd.DataFrame()
df['start_time'] = start_time
df['answer_time'] = answer_time
df['resolved_time'] = resolved_time
df['delay'] = delay
df['status'] = status
df.head()

   start_time answer_time resolved_time  delay  status
0  2020-06-23  2020-06-30    2020-07-01      7       1
1  2020-06-22  2020-06-26    2020-06-26      4       1
2  2020-06-21  2020-06-24    2020-06-26      3       1
3  2020-06-20  2020-06-25    2020-06-27      5       0
4  2020-06-19  2020-06-24    2020-06-27      5       1

In [7]:
df.to_csv('data.csv')

**Leftover Work ( Here we are doing is using spreadsheet ):**

For abandoned_time, here we are copying some random values form resolved_time to abandoned_time. Since the issue was abandoned, it was never allocated to an agent hence answer_time will be empty.
The delay in such cases will be calculated as abandoned_time - start_time)

In [8]:
#Data after doing Leftover work 
df = pd.read_csv('data.csv')
df.head()

   start_time answer_time resolved_time abandoned_time  delay  status
0  22/06/2020  30/06/2020    30/06/2020            NaN      8       1
1  21/06/2020  23/06/2020    25/06/2020            NaN      2       1
2  06/05/2020         NaN           NaN     16/05/2020     10       0
3  19/06/2020  22/06/2020    24/06/2020            NaN      3       1
4  22/04/2020         NaN           NaN     02/05/2020     10       0