<a href="https://colab.research.google.com/github/parthbhide/Support-Genie-Python-Developer-Intern/blob/master/Generate_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Perameters and Definations**

*   start_time : Time at which issue was opened
*   answer_time : Time at which issue was allocated to agent
*   resolved_time : Time at which issue was resolved
*   status : Issue is resolved or abandoned ( 1 if resolved, 0 otherwise )
*   delay : answer_time - start_time ie. time elapsed to allocate an issue to agent

In [ ]:
import datetime
import random

In [ ]:
base = datetime.datetime.today()-datetime.timedelta(days=100)
start_time = [(base - datetime.timedelta(days=x)).date() for x in range(1000)]

#Here delay is taken as random number, in real implementation it can be calculated as (answer_time - start_time)
delay = [random.randint(0,4) for x in range(1000)]
answer_time = [ s + datetime.timedelta(d) for s,d in zip(start_time,delay)]
status = [random.randint(0,1) for x in range(1000)]

#Resolve_delay here is taken as random number to genrate resolved_time, it is not involved in our dataset
resolve_delay = [ random.randint(0,2) for x in range(1000)]
resolved_time = [ a + datetime.timedelta(d) for a,d in zip(answer_time,resolve_delay)]

In [ ]:
import pandas as pd

df = pd.DataFrame()
df['start_time'] = start_time
df['answer_time'] = answer_time
df['resolved_time'] = resolved_time
df['delay'] = delay
df['status'] = status
df.head()

   start_time answer_time resolved_time  delay  status
0  2020-03-15  2020-03-18    2020-03-19      3       1
1  2020-03-14  2020-03-15    2020-03-17      1       0
2  2020-03-13  2020-03-14    2020-03-15      1       1
3  2020-03-12  2020-03-14    2020-03-16      2       0
4  2020-03-11  2020-03-13    2020-03-15      2       1

In [ ]:
df.to_csv('data.csv')

**Leftover Work ( Here we are doing is using spreadsheet ):**

For abandoned_time, here we are copying some random values form resolved_time to abandoned_time. Since the issue was abandoned, it was never allocated to an agent hence answer_time will be empty.
The delay in such cases will be calculated as abandoned_time - start_time)

In [ ]:
#Data after doing Leftover work 
df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0  start_time answer_time resolved_time  delay  status
0           0  2020-03-15  2020-03-18    2020-03-19      3       1
1           1  2020-03-14  2020-03-15    2020-03-17      1       0
2           2  2020-03-13  2020-03-14    2020-03-15      1       1
3           3  2020-03-12  2020-03-14    2020-03-16      2       0
4           4  2020-03-11  2020-03-13    2020-03-15      2       1